[alias]
  co = checkout
  br = branch
  ci = commit -v
  st = status -sb
  unstage = reset HEAD --
  last = log -1 HEAD
  hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  prune-local = !git branch --merged | grep -v \"^\\*\" | xargs git branch -d
  stats = shortlog -sne
  whatsnew = log HEAD@{1}..
  incoming = "!git remote update -p; git log ..@{u}"
  outgoing = log @{u}..
  start = !sh -c 'git fetch && git checkout -b $0 origin/$0'

[color]
	ui = true

[core]
  editor = nvim
	hooksPath = /Users/torjus/.config/git/hooks
	excludesfile = ~/.config/gitignore_global
#  pager = delta

[push]
  default = simple
	autoSetupRemote = true

[user]
	name = Torjus Bjåen
	email = torjus.bjaaen@try.no

[diff]
  algorithm = patience

[filter "lfs"]
#	clean = git-lfs clean %f
#	smudge = git-lfs smudge %f
#	required = true

[diff-so-fancy]
	markEmptyLines = false

[pull]
	ff = only

[interactive]
	diffFilter = diff-highlight
#  diffFilter = delta --color-only

[merge]
  #conflictstyle = diff3
  conflictstyl = zdiff3

[diff]
  colorMoved = default

[include]
  path = ~/.config/delta/themes.gitconfig

[delta]
  navigate = true
  #syntax-theme =arctic-fox
#  syntax-them = ansi
  features = collared-trogon
  dark = true
#  syntax-theme = arctic-fox
