"*":
  "atom-ctags":
    cmd: "/usr/local/bin/ctags"
  "atom-ternjs": {}
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
  core:
    disabledPackages: [
      "git-blame-plus"
      "nuclide-remote-projects"
      "language-javascript-jsx"
      "file-type-icons"
      "language-varnish"
      "react"
      "atom-ternjs"
    ]
    ignoredNames: [
      "node_modules"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "duotone-dark-syntax"
    ]
    titleBar: "hidden"
  "duotone-dark-syntax":
    color:
      duo: "#fdc28c"
      uno: "#ad94eb"
  editor:
    fontFamily: "Operator Mono"
    invisibles: {}
    nonWordCharacters: "./\\()\"':,.;<>~!@#%$^&*|+=[]{}`~?-"
    preferredLineLength: 100
    scrollSensitivity: 50
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 4
    tabLength: 4
  "elm-format": {}
  "exception-reporting":
    userId: "7ebd11e4-7449-ba6c-2582-a21b08a11f60"
  "file-icons":
    onChanges: true
    tabPaneIcon: false
  "file-types":
    gan: "text.html.php"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
    ]
    preserveLastSearch: true
  "git-blame":
    columnWidth: 359
    customCommitUrlTemplateString: "https://stash.wimpmusic.com/projects/<%- project %>/repos/<%- repo %>/commits/<%- revision %>"
    ignoreWhiteSpaceDiffs: true
    useCustomUrlTemplateIfStandardRemotesFail: true
  "git-plus":
    general:
      _analyticsUserId: "e69c4592-7829-412c-aecd-e5ad279cfc38"
  "go-plus":
    formatTool: "gofmt"
  "highlight-selected": {}
  "language-babel":
    suppressTranspileOnSaveMessages: true
    transpileOnSave: true
  "language-elm": {}
  linter: {}
  "linter-golint":
    golintExecutablePath: "/Users/torjus/Development/Go/bin/golint"
  "linter-php":
    executablePath: "/usr/bin/php"
  "linter-ui-default": {}
  metrics:
    userId: "61f6c9706454250c5f1412f9deba0d93be0034d2"
  "one-dark-ui": {}
  "platformio-ide-terminal":
    core: {}
    style:
      theme: "one-dark"
  "project-manager": {}
  "r-exec":
    whichApp: "iTerm"
  react: {}
  "release-notes":
    viewedVersion: "0.93.0"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "status-bar": {}
  tabs:
    enableMruTabSwitching: false
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".ansi.text":
  editor:
    nonWordCharacters: "./\\()\"':,.;<>~!@#%$^&*|+=[]{}`~?-"
    softWrapHangingIndent: 4
".attribute-values.js.jsx.source":
  editor:
    nonWordCharacters: "./\\()\"':,.;<>~!@#%$^&*|+=[]{}`~?-"
    preferredLineLength: 100
    softWrapHangingIndent: 4
".babel.regexp.source":
  editor:
    nonWordCharacters: "./\\()\"':,.;<>~!@#%$^&*|+=[]{}`~?-"
".coffee.jsx.source":
  editor:
    nonWordCharacters: "./\\()\"':,.;<>~!@#%$^&*|+=[]{}`~?-"
    preferredLineLength: 100
    softWrapHangingIndent: 4
".editorconfig.source":
  editor:
    autoIndent: false
    nonWordCharacters: "./\\()\"':,.;<>~!@#%$^&*|+=[]{}`~?-"
    preferredLineLength: 100
    softWrapHangingIndent: 4
    tabLength: 4
".hack.html.text":
  editor:
    nonWordCharacters: "./\\()\"':,.;<>~!@#%$^&*|+=[]{}`~?-"
    softWrapHangingIndent: 4
".hackfragment.source":
  editor:
    nonWordCharacters: "./\\()\"':,.;<>~!@#%$^&*|+=[]{}`~?-"
    softWrapHangingIndent: 4
".js.jsx.react.source":
  editor:
    nonWordCharacters: "./\\()\"':,.;<>~!@#%$^&*|+=[]{}`~?-"
    preferredLineLength: 100
    softWrapHangingIndent: 4
".js.jsx.source":
  editor:
    nonWordCharacters: "./\\()\"':,.;<>~!@#%$^&*|+=[]{}`~?-"
    preferredLineLength: 100
    softWrapHangingIndent: 4
".js.source.subtlegradient":
  editor:
    nonWordCharacters: "./\\()\"':,.;<>~!@#%$^&*|+=[]{}`~?-"
    preferredLineLength: 100
    softWrapHangingIndent: 4
