"*":
  "exception-reporting":
    userId: "7ebd11e4-7449-ba6c-2582-a21b08a11f60"
  "release-notes":
    viewedVersion: "0.93.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "61f6c9706454250c5f1412f9deba0d93be0034d2"
  editor:
    fontFamily: "Menlo"
    fontSize: 13
    showIndentGuide: true
    nonWordCharacters: "./\\()\"':,.;<>~!@#%$^&*|+=[]{}`~?-"
    tabLength: 4
    invisibles: {}
  core:
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
    disabledPackages: [
      "vim-mode"
    ]
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
  linter:
    showErrorInline: true
  "linter-golint":
    golintExecutablePath: "/Users/torjus/Development/Go/bin/golint"
  "go-plus":
    formatTool: "gofmt"
  react: {}
  "language-babel": {}
