/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

@import "variables";

atom-text-editor::shadow {
    .source.js {
        .variable.parameter {
            color: @magenta;
        }
        .entity.name {
            color: @yellow;
        }
        .unquoted.label {
            color: @base01;
        }
    }

    .highlights .highlight-selected .region {
        border-color: rgba(255, 255, 255, .2);
    }
}
